<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-content">
      <div class="footer-brand">
        <p class="footer-title p-name">{{ site.title | escape }}</p>
        <p class="footer-description">{{ site.description | escape }}</p>
        <p class="footer-copyright">© {{ site.time | date: "%Y" }} EMO Talks organizers and respective rights holders. Site content all rights reserved.</p>
      </div>
      <a class="footer-back-to-top" href="#top">Back to top <span aria-hidden="true">↑</span></a>
    </div>
  </div>
</footer>
